/* CSS for Lin3s */

#div-1 {
 position:relative;
}
#div-canvas2d {
 position:absolute;
 top:0;
 left:0;
 z-index:1;
}
#div-viewer3d {
 position:absolute;
 top:0;
 left:66%;
 z-index:2;
}

#parameters{
	position: absolute;
	top: 0px;
	left: 20px;
  color: #2244FF;
  z-index:1;
}

input[type="input"]{
	text-align: right;
	background:rgba(0,0,0,0.05);
	width: 80px;
	border: none;
	float: left;
  color: #1166FF;
}

label.field {
  font-family: Tahoma, sans-serif;
  line-height: 1em;
	text-align: left;
	width: 170px;
	float: left;
}
h2 {
color: #AAFFFF;
font-family: Tahoma, sans-serif;
line-height: 1em;
font-size: 55px;
text-shadow: -5px 5px 0px #00e6e6,
             -10px 10px 0px #01cccc,
             -15px 15px 0px #00bdbd;
}