/* CSS for Lin3s */

body {
  top:0px;
}

#parameters{
  float:left;
  color: #2244FF;
}

#div-canvas2d {
  float:left;
  width: 38%;
  min-width: 100px;
  border: 2px solid #a1a1a1;
  padding: 10px 10px 10px; 
  border-radius: 14px;
  margin-left:10px;
}
#div-viewer3d {
  float:left;
  min-width: 100px;
  border: 2px solid #a1a1a1;
  padding: 10px 10px 10px; 
  border-radius: 14px;
  margin-left:10px;
}

input[type="input"]{
	text-align: right;
	background:rgba(0,0,0,0.05);
	width: 80px;
	border: none;
	float: left;
  color: #1166FF;
}

label.field {
  font-family: Tahoma, sans-serif;
  line-height: 1em;
	text-align: left;
	width: 170px;
	float: left;
}
h2 {
  color: rgba(160,255,255, 1);
  font-family: Tahoma, sans-serif;
  line-height: 1em;
  font-size: 58px;
  text-shadow: -5px 5px 0px #00e6e6;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 10%; 
  margin-bottom: 0;
}
#title_h2 {
  font-size:75px;
  color: rgba(255,10,10, 0.5);
}

h2:active {
color: rgba(160,255,255, 0);
font-family: Tahoma, sans-serif;
line-height: 1em;
text-shadow: -15px 15px 0px #ff7777;
}

label.parameters_titles{
  padding: 10px;
  text-size: 1000%;
}